* {box-sizing: border-box;}

body{
    margin: 0;
    background-color: #D9D9D9;
}

a {
    color: #fefefe;
}

.header-flex {
    position: sticky;
    top: 0;
    color:#fefefe;
    background-color: #434343;
    font-size: 30px;
    padding: 0.3em 0.65em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.meny {
    font-size: 0.7em;
    /* position: relative; */
}
  
/* Sidebar */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    background-color: #434343;
    padding: 45px 30px;
    line-height: 2.5;
    margin:0;
}
  
.meny:hover .dropdown-content {
    display: block;
}

/* Alla "lådor" */
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Startsida */
.box1 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    /* width: 90vw; */
    border: 15px solid #01C5FA;
}

.box2 {  
    display: flex;
    justify-content: space-evenly;
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 97vw;
    border: 15px solid #0075FA;
}

/* Sida 2 */
.box11 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    /* width: 90vw; */
    border: 15px solid #B400FA;
}

.box12 {
    display: flex;
    justify-content: space-between;
}

.box121 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 15px solid #6100FA;
}

.box122 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 15px solid #FA00E6;
}

.box13 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    /* width: 90vw; */
    border: 15px solid #FA0050;
}

/* Sida 3 */
.box21 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    /* width: 90vw; */
    border: 15px solid #00FAD5;
}

.box22 {
    display: flex;
    justify-content: space-between;
}

.box221 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 15px solid #00FA80;
}

.box222 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 15px solid #00CEFA;
}

.box23 {
    color:#fefefe;
    background-color: #282828;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    /* width: 90vw; */
    border: 15px solid #007FFA;
}
